<meta charset="<%= meta.charset %>" />
<title><%= meta.title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="Description" content="<%= meta.desc %>" />

<!-- Open Graph data / Facebook Card data -->
<meta property="og:title" content="<%= meta.title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= meta.ogp.url %>" />
<meta property="og:image" content="<%= meta.ogp.img %>" />
<meta property="og:image:alt" content="<%= meta.ogp.imgAlt %>" />
<meta property="og:description" content="<%= meta.desc %>" />


<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="<%= meta.twitter.creator %>" />

<!-- Mobile header color for Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#2c638f" />

<!-- Mobile header color Windows Phone -->
<meta name="msapplication-navbutton-color" content="#2c638f" />

<!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
